[Unit]\\nDescription=Mouvement detection\\nAfter=network.target\\n[Service]\\nType=simple\\nRemainAfterExit=yes\\nRestart=always\\nExecStart=$(pwd)/motion_detector.py\\nWorkingDirectory=$(pwd)\\nUser=$(whoami)\\n[Install]\\nWantedBy=multi-user.target\\n
