[Unit]
Description=Mouvement detection
After=network.target
[Service]
Type=simple
RemainAfterExit=yes
Restart=always
ExecStart=
WorkingDirectory=
User=
[Install]
WantedBy=multi-user.target
