[Unit]
Description=Mouvement detection
After=network.target
[Service]
Type=simple
RemainAfterExit=yes
Restart=always
ExecStart=$(pwd)/motion_detector.py
WorkingDirectory=$(pwd)
User=$(whoami)
[Install]
WantedBy=multi-user.target
