---
name: CI
'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install pylint.
        run: pip3 install pylint
        
      - name: Lint code.
        run: |
          pylint app.py
          pylint lib/
